body{
  font-family:Arial, Helvetica, sans-serif;
}

.start{
  width:100%;
  display: flex;
  justify-content: center;
}

.personas{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.persona{
  padding: 20px;
  border-radius:10px;
  margin:10px;
  cursor:pointer;
  /*filter: drop-shadow(5px 5px 10px rgb(185, 185, 185));*/
  box-shadow: 0px 0px 5px rgb(184, 183, 183);
  transition: background-color 0.2s, transform 0.2s;
}

.personaE{
  padding: 20px;
  border-radius:10px;
  margin:10px;
  box-shadow: 0px 0px 5px rgb(255, 0, 0);
  transition: background-color 0.2s;
  background-color: rgb(163, 107, 107);
}
.persona:hover{
  background-color: lightblue;
  transform: scale(1.3);
}
.avatar{
  width: 50px;
}
.preguntas{
  margin-top: 50px;
  display: flex;
  justify-content:center;
}
.pregunta{
  margin-right:10px;
  margin-left:10px;
  padding: 20px;
  border-radius: 20px;
  transition:background-color 0.2s, transform 0.2s;
}
.pregunta:hover{
  background-color: rgba(246, 241, 236, 0.414);
  transform: scale(1.1);
  cursor: pointer;
}

.botones{
  display:flex;
  flex-direction: column;
}

.boton{
  margin: 5px;
  cursor:pointer;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition:transform 0.2s;
}

.boton:hover{
  transform: scale(1.1);
}

.oculto{
  visibility: hidden;
}

.visible{
  visibility: visible;
}

.eliminado{
  pointer-events: none;  
  opacity: 0.2;
}

.elElegido{
  box-shadow: 0px 0px 5px rgba(0, 255, 13, 0.459);  
}
